app:
  port: 3008
prisma:
  dbUsername: admin
  dbPassword: admin
  dbHost: localhost
  dbPort: 5435
  dbName: gold_price_tracker
  log: ['info']
  runMigrations: false
tracker:
  apiKey: ''
  url: 'http://157.245.24.101:3006'
logger:
  output: console
  level: debug
auth:
  jwtTokenSecret: ''
